<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html.twig' %}

<body>
    {% include 'partials/navbar.html.twig' %}
    <div class="container">
        <h2>{{message}} for {{keywords}} </h2>
        <div class="row">
            {% for item in search %}
            <div class="col card my-2">
                <div class="row card-body">
                    <div class="col-2">
                        <img style="aspect-ratio:3/4; object-fit:cover;" class="w-100 img-fluid border card-img-top"
                        src="images/{{item.Cover}}">
                    </div>
                    <div class="col-8">
                        <h4>
                            {{ item.Title }}
                        </h4>
                        <h5>By {{ item.Author }} </h5>
                        <p>{{ item.Description }}</p>
                    </div>
                    <div class="col d-flex flex-column justify-content-end align-items-end">
                         <a class="btn btn-primary" href="detail.php?id={{item.id}}">
                            More Detail
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>